# 파이썬 기초 문법 따라 해보기

### 사칙연산

In [17]:
1+2

3

In [18]:
3/2.4

1.25

In [19]:
3*9

27

In [20]:
a =1 
b =2
a + b

3

### 변수에 숫자 대입하고 계산하기

In [21]:
a = "Python"
print(a)

Python

In [23]:
a = "Python"
a

'Python'

### 조건문 if

In [ ]:
a = 3
if a > 1:
    print("a is greater than 1")

### 반복문 for

In [ ]:
for a in [1,2,3]:
    print(a)

### 반복문 while

In [1]:
i = 0
while i < 3:
    i=i+1
    print(i)

1
2
3

### 함수

In [2]:
def add(a, b):
    return a+b

add(3,4)

7

# 숫자형

### 정수형

In [5]:
a = 123
a = -178
a = 0

### 실수형

In [8]:
a = 1.2
a = -3.45

In [9]:
a = 4.24E10
a = 4.24e-10

### 8진수와 16진수

In [11]:
a = 0o177

In [12]:
a = 0x8ff
b = 0xABC

# 숫자형을 활용하기 위한 연산자

### 사칙연산

In [15]:
a = 3
b = 4
a + b

7

In [16]:
a*b

12

In [17]:
a/b

0.75

### x의 y 제곱을 나타태는 ** 연산자

In [19]:
a = 3
b = 4
a**4

81

### 나눗셈 후 나머지를 반환하는 % 연산자

In [21]:
7%3

1

In [22]:
3%7

3

### 나눗셈 후 몫을 반환하는 // 연산자

In [24]:
7/4

1.75

In [25]:
7//4

1

# 문자열 자료형

In [29]:
"Hello World"

'Hello World'

In [30]:
'Python is fun'

'Python is fun'

In [31]:
"""Life is too short, You need python"""

'Life is too short, You need python'

In [35]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [37]:
food = 'Python's favorite food is per' 
#작은 따옴표로 문자열을 둘러 싼 후 다시 실행하면 'Python'이 문자열로 인식되어 구문 오류가 (SyntaxError)가 발생한다.

SyntaxError: invalid syntax (<ipython-input-37-33dca7a419ab>, line 1)

In [40]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [43]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
food
say

'"Python is very easy." he says.'

### 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [62]:
multiline = "Life is too short \nYou need python"
print(multiline)

Life is too short
You need python

In [65]:
multiline = '''
LIfe is too short 
You need python
'''

In [66]:
print(multiline)

LIfe is too short
You need python

In [67]:
multiline = """
Life is too short
You need python
"""

In [68]:
print(multiline)

Life is too short
You need python

### 문자열 연산하기

### 문자열 더해서 연결하기

In [72]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

### 문자열 곱하기

In [75]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

### 문자열 길이 구하기

In [77]:
a = "Life is too short"
len(a)

17

## 문자열 인덱싱과 슬라이싱

### 문자열 인덱싱이란?

In [80]:
a = "Life is too short, You need Python"

In [82]:
a = "LIfe is too short, You need Python"
a[3]

'e'

### 문자열 인덱싱 활용하기

In [84]:
a = "Life is too short, You need Python"
a[0]

'L'

In [85]:
a[12]

's'

In [86]:
a[-1]

'n'

In [87]:
a[-0]

'L'

In [88]:
a[-2]

'o'

In [89]:
a[-5]

'y'

### 문자열 슬라이싱이란?

In [91]:
a = "LIfe is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'LIfe'

In [92]:
a = "LIfe is too short, You need Python"
a[0:4]

'LIfe'

### 문자열을 슬라이싱하는 방법

In [94]:
a[0:5]

'LIfe '

In [95]:
a[0:2]

'LI'

In [96]:
a[5:7]

'is'

In [97]:
a[12:17]

'short'

In [98]:
a[19:]

'You need Python'

In [99]:
a[:17]

'LIfe is too short'

In [100]:
a[:]

'LIfe is too short, You need Python'

In [104]:
a[19:-7]
#a[-7]은 포함하지 않는다.

'You need'

### 슬라이싱으로 문자열 나누기

In [107]:
a = "20010331Rainy"
date = a[:8]
weather = a[8:]
date

'20010331'

In [108]:
weather

'Rainy'

In [109]:
a = "20010331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year

'2001'

In [110]:
day

'0331'

In [111]:
weather

'Rainy'

### ["Pithon"이라는 문자열을 "Python"으로 바꾸려면?]

In [112]:
a = "pithon"
a[1]

'i'

In [114]:
a[1] = "y"
# 문자열의 요솟값은 바꿀 수 있는 값이 아니다. => immutable 자료형

TypeError: 'str' object does not support item assignment

In [116]:
a = "Pithon"
a[:1]

'P'

In [117]:
a[2:]

'thon'

In [119]:
a[:1] + 'y' + a[2:]

'Python'

### 문자열 포매팅

In [125]:
"I eat %d apples." %3

'I eat 3 apples.'

In [126]:
'I eat %s apples.' % "five"

'I eat five apples.'

In [128]:
number = 3 
"I eat %d apples" % number

'I eat 3 apples'

In [129]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

In [130]:
"I have %s apples" %3

'I have 3 apples'

In [131]:
"rate is %s" % 3.234

'rate is 3.234'

In [133]:
"Error is %d%%." %98

'Error is 98%.'

### 포맷 코드와 숫자 함께 사용하기

### 정렬과 공백

In [136]:
"%10s" % "hi"

'        hi'

In [138]:
"%-10sjane" %"hi"

'hi        jane'

### 소수점 표현하기

In [141]:
"%0.4f" %3.42134234

'3.4213'

In [142]:
"%10.4f" %3.42134234

'    3.4213'

In [143]:
"%-10.4f" %3.42134234

'3.4213    '

### format 함수를 사용한 포매팅

In [147]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [148]:
"I eat {0} apples.".format("five")

'I eat five apples.'

In [149]:
number=3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [153]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [154]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [155]:
"I ate {0} apples. so I was sick for {day} days.".format(10,day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [158]:
"{0:<10}".format("hi")

'hi        '

In [159]:
"{0:>10}".format("hi")

'        hi'

In [161]:
"{0:^10}".format("hi")

'    hi    '

In [165]:
"{0:=^10}".format("hi")

'====hi===='

In [168]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

### 소수점 표현하기

In [171]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [174]:
"{0:10.4f}".format(y)

'    3.4213'

In [175]:
"{{ and }}".format()

'{ and }'

### f 문자열 포매팅

In [178]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [179]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [182]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는{d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는30입니다.'

In [185]:
f'{"hi":<10}'

'hi        '

In [186]:
f'{"hi":>10}'

'        hi'

In [190]:
f'{"hi":^10}'

'    hi    '

In [193]:
f'{"hi":=^10}'

'====hi===='

In [195]:
f'{"hi":!<10}'

'hi!!!!!!!!'

In [196]:
y = 3.42134234
f'{y:0.4f}'

'3.4213'

In [198]:
f'{y:^10.4f}'

'  3.4213  '

In [201]:
f'{{ and }}'

'{ and }'

### 문자 개수 세기(count)

In [203]:
a = "hobby"
a.count('b')

2

### 위치 알려주기(index)

In [208]:
a = "Python is the best choice"
a.find('b')

14

In [209]:
a.find('k')

-1

### 문자열 삽입(join)

In [212]:
",".join('abcd')

'a,b,c,d'

In [217]:
",".join(['a','b','c','d'])

'a,b,c,d'

### 소문자를 대문자로 바꾸기(upper)

In [222]:
a = "hi"
a

'hi'

In [223]:
a.upper()

'HI'

### 대문자를 소문자로 바꾸기(lower)

In [226]:
a = "HI"
a.lower()

'hi'

### 공백 지우기 (lstrip, rstrip, strip)

In [240]:
a = " hi "
a.lstrip().rstrip()

'hi'

In [242]:
a.strip()

'hi'

### 문자열 바꾸기 (replace)

In [258]:
a = "Life is too short"
a.replace ("Life", "Your leg")

'Your leg is too short'

### 문자열 나누기 (split)

In [260]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [262]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']