# 튜플 자료형

In [4]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

### 튜플 요솟값을 삭제 할 때

In [8]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [9]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

### 튜플 인덱싱하기

In [11]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [12]:
t1[3]

'b'

### 슬라이싱 하기

In [15]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

### 튜플 더하기

In [18]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

### 튜플 곱하기

In [20]:
t2 = (3, 4)
t2 * 3

(3, 4, 3, 4, 3, 4)

In [22]:
t1 = (1, 2, 'a', 'b')
len(t1)

4